@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&display=swap");

body {
  background: rgba(162, 0, 255, 0.479);
  color: rgb(0, 0, 0);

  font-size: 20px;
  font-weight: 600;
  font-family: "Anonymous Pro", monospace;
  /*font: 600 20px 'Anonymous Pro', monospace;*/
  background: url(fon.jpg);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding-top: 0;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(247, 10, 10);
}

a:visited {
  color: rgb(128, 133, 138);
}

.avatar {
  width: 37.2%;
  border-radius: 50%;
  box-shadow: -1px -1px 20px 4px #000000;
}

.aboutme {
  display: flex;
  padding-bottom: 0px;
  text-shadow: 2px 0 2px #000, 
0 2px 2px #000, 
-2px 0 2px #000, 
0 -2px 2px #000;
}


.info-text {
  margin-left: 20%;
}

.info-text p,
h4 {
  font-size: 30px;
}

.info-text h1 {
  font-size: 100px;
  padding-top: 186px;
}

.info-text h4 {
  color: rgb(0, 255, 255);
  margin-bottom: 0;
}

.aboutme p {
  color: rgb(255, 255, 255);
  margin: 0;
  font-style: oblique;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  /* word-spacing: normal; */
}

@media (max-width: 1337px) {
  .aboutme {
    display: block;
    text-align: center;
    padding-top: 0;
  }

  .info-text {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
   padding: 0;
  }
  .info-text h1 {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
   padding: 0;
  }

}

.aboutme H1 {
  color: rgb(0, 255, 13);
  font-style: oblique;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.contener {
  max-width: 100%;
  margin: 0 5%;
  padding-top: 0px;
}

.social {
  
  padding-left: 0 50%;
  background: rgb(82, 97, 231);
  border: 5px solid rgb(5, 1, 0);
  margin: 20px;
  border-bottom-style: double;
  border-top-style: double;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  text-align: center;
 
}

.social li {
  color: black;
  margin-bottom: 10px;
  list-style-position: inside;
}

.social>ul {

  padding: 0;

}


/*.box-model >div{
float: right;
background: green;
height: 150px;
width: 25%;
border: 4px solid red;
box-sizing: border-box;
}
*/

.bloc1 {
  background: green;
}

.bloc2 {
  background: rgb(10, 128, 206);
}

.bloc3 {
  background: rgb(148, 53, 143);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}



.list {
  padding: 0;
  margin: 0;
}

.list li {
  color: black;
  margin-bottom: 10px;
  list-style-position: inside;
}

.list ::marker {
  padding-left: 3%;
  color: blue;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
td:nth-child(3) {
  color: rgb(52, 19, 173);
}

.table tr:nth-child(odd) {
  background: red;
}

.link-list {
  list-style: square;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(0, 255, 213);
}

.contact {

  background: #76f576;
  padding: 20px;
  border-radius: 20px  ;
}

.contact h2 {
  text-align: center;
  color: #e71111;
  text-shadow: 2px 0 2px #000, 
0 2px 2px #000, 
-2px 0 2px #000, 
0 -2px 2px #000;
   

}

.form-group label {
  display: block;
  font-size: 19px;
  color: rgb(102, 43, 43);
  
}


.form-group input, textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;

  
}

.row {

  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.knopka {
  color: rgb(255, 255, 255);
  padding: 15px 15px;
  background: rgb(5, 1, 0);
  font-family: inherit;
  cursor: pointer;
}

.knopka:hover {
  opacity: 0.9;
}

.position {
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
}

.box {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
}
